@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #040205, #320280) fixed no-repeat;
    /* background: radial-gradient(circle, #040205, #320280) fixed no-repeat; */
    color: white;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    /* Slightly transparent */
    width: 85%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 30px;
    /* Position from the top */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Adjust for centering */
    color: white;
    border-radius: 250px;
    /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Floating effect */
    z-index: 1000;

}

.logo {
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2.5px 4px rgba(255, 255, 255, 0.4);
    margin-left: 6px;
}

.logo a {
    text-decoration: none;
    color: white;
    letter-spacing: 1vw;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
    /* Highlight color */
}

.auth-buttons a {
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: background 0.5s;
    transition: color 0.3s;
}

.login-btn:hover {
    color: black;
    background: white;
}

.install-btn {
    background: #00aaff;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 170, 255, 0.4);
    transition: background 0.3s;
}

.install-btn:hover {
    background: #0088cc;
}

/* Hero Section */
.hero {
    text-align: center;
    position: relative;
    padding: 380px 0px 0px 0px;
}

.title {
    font-family: 'Audiowide', sans-serif;
    font-size: 9vw;
    letter-spacing: 9vw;
    margin-left: 7.5vw;
    margin-bottom: 245px;
    text-shadow: 0 4px 50px rgba(255, 255, 255, 0.6)
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 35px;
    font-weight: 300;
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.5)
}

.cta-button {
    padding: 15px 40px;
    background: white;
    color: #0d0d21;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
    transition: background 0.5s, color 0.3s;
}

.cta-button:hover {
    background: #00aaff;
    box-shadow: 0 4px 8px rgba(0, 170, 255, 0.4);
    color: white;
}

.money-back {
    font-size: 0.9rem;
    margin-top: 25px;
    color: #bbbbbb;
}

/* Content Section */

.content-section-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    /* background: rgba(0, 0, 0, 0.4); */
    border-radius: 25px;
    max-width: 1000px;
    padding: 20px;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: rgba(0, 0, 0, 0.4); */
    border-radius: 25px;
    max-width: 1000px;
    padding: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

@media (max-width: 1000px) {
    .content-section-0 {
        max-width: 850px;
    }
    .content-section {
        max-width: 850px;
    }
}



.content {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 4% 4% 4% 4%;
}

.description {
    /* width: 55%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para-left {
    line-height: 1.5;
    font-size: 1.1rem;
    color: #ccc;
    text-align: left;
}

/* .para-right {
    line-height: 1.5;
    font-size: 1.1rem;
    color: #ccc;
    text-align: right;
} */

.left-heading {
    text-align: left;
    margin-bottom: 30px;
}

/* .right-heading {
    text-align: right;
    margin-bottom: 30px;
} */

.image-section {
    width: 40%;
    margin-top: 50px;
}

.vector-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-section-0 {
        flex-direction: column;
    }

    .content-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 50px;
    }

    .description {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-section {
        width: 100%;
    }

    .login-btn {
        display: none;
    }

    /* Hero Section */
    .hero {
        text-align: center;
        /* position: relative; */
        padding: 80% 0px;
    }

    .nav-links {
        display: none;
        /* Hide navigation links */
    }
}

@media (max-width: 500px) {
    .vector-image {
        border-radius: 10px;
    }

    /* Navbar */
    .navbar {
        width: 90%;
        top: 25px;
    }

    .logo {
        font-size: 1.1rem;
        margin-left: 0px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links li a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        transition: color 0.3s;
    }

    .nav-links li a:hover {
        color: #00aaff;
        /* Highlight color */
    }

    .auth-buttons a {
        margin-left: 15px;
        padding: 8px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 0.9rem;
    }

    .login-btn {
        background: transparent;
        color: white;
        border: 1px solid white;
        transition: background 0.5s;
        transition: color 0.3s;
    }

    .login-btn:hover {
        color: black;
        background: white;
    }

    .install-btn {
        background: #00aaff;
        color: white;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 170, 255, 0.4);
        transition: background 0.3s;
    }

    .install-btn:hover {
        background: #0088cc;
    }

    /* Hero Section */
    .hero {
        text-align: center;
        /* position: relative; */
        padding: 80% 0px;
    }

    .title {
        margin-bottom: 150px;
    }

    .subtitle {
        font-size: 1.3rem;
        margin-bottom: 25px;
        font-weight: 300;
        text-shadow: 0 4px 8px rgba(255, 255, 255, 0.5)
    }

    /* Content Section */
    .content-section-0 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .content-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 50px;
    }

    .nav-links {
        display: none;
        /* Hide navigation links */
    }

}